#!/bin/sh
# https://www.debian.org/doc/manuals/dbconfig-common/ch-develguide.html
#
# config maintainer script for ala-cas-5

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
    . /usr/share/dbconfig-common/dpkg/config.mysql
   # If you want to use a different dbname that ala-cas-5 uncomment this
   # dbc_dbuser=collectory
   # dbc_dbname=collectory
   # dbc_mysql_createdb_encoding="UTF8"

    dbc_go ala-cas-5 "$@"
fi

# ... rest of your code ...