#!/bin/sh
# https://www.debian.org/doc/manuals/dbconfig-common/ch-develguide.html
#
# config maintainer script for ala-cas-5

# source debconf stuff
. /usr/share/debconf/confmodule
. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/frontend.config.mysql ]; then
    . /usr/share/dbconfig-common/dpkg/frontend.config.mysql

    dbc_dbname=emmet
    dbc_dbuser=cas
    dbc_mysql_createdb_encoding="UTF8"

    dbc_go ala-cas-5 "$@"
fi

# ... rest of your code ...
