[Unit]
Description=cas
After=syslog.target

[Service]
User=cas
ExecStart=/opt/atlas/cas/cas.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
